body
{
  margin: 0;
  padding: 0;
}

#login-box
{
   background-color:white;
  width: 450px;
  height: 600px;
  margin: 99px auto 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
}

#formulario
{
  width: 500px;
  margin-left: 50px;
}

#login-logo
{
  top:-100px;
  height: 200px;
}

#logo
{
    height:220px;
    top:-25%;
    left:45%;
    margin-top:-65px;
    margin-left:100px;
    display: block;
}

#login-descricao
{
  margin-left: 20px;
  margin-top: 10px;
}

.botao
{
  margin-left:100px;
  color:white;
}

#cadastre
{
  margin-left: 90px;
  margin-top: 5px;
  font-size: 23px;
}

body
{
  font-family: "Georgia", Georgia, serif;
}
